body {
    background-color: #fff;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #e24e4e;
    text-align: center;
;

}
/* index.html */
.sidebar {
    float: right;
    width: 250px;
    background: #e24e4e;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.container {
    text-align: left;
    padding: 5px;

}

/*create-post.html, delete-post.html, edit-post.html */
.new-blog {
    text-align: center;
}
.title{
    text-align: center;
}

.blog-content {
display: block;
text-align: center;
}

.buttons {
    text-align: center;
    float: inside;
    margin-right:10px;
}

/* login.html */
.login-page {
    display: block;
    text-align: center;
}

/* register.html */
.register-body {
    display: block;
    text-align: center;
}