<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH:LB Delete Blog</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav th:insert="fragments :: nav"></nav>

    <h1 class="title-page" style="color:red;">Are you sure you want to delete this blog?</h1>

    <div class="container">
        <h1 th:text = "${title}"></h1>
        <p th:text = "${authorFullName}"></p>
        <p th:text = "${date}"></p>
        <p th:text = "${content}"></p>
        <p th:text = "${id}"></p>
    </div>

    <a href="#" th:href="@{/posts}">Cancel</a>
    <a href="#" th:href="@{/delete/{id}(id=${id})}">Delete</a>

    <footer th:insert="fragments :: footer"></footer>

</body>
</html>