<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH:LB Edit Blog</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:insert="fragments :: nav"></nav>

    <h1>Edit a Blog</h1>

    <div class = "">
        <label for="title">Title</label> :
        <input type="text" class = ""
        name="title" id="title" th:field = "">
    </div>
    
    <div class = "">
        <label for="content">Content</label> :
        <textarea type="text" cols="40" rows="10" 
        name="content" id="content" class = "" th:field = "">
        </textarea>
    </div>
    
    <div class="">
        <div class="">
            <div class="">
                <input type="submit" name="create-submit"
                    class="" value="Create" />
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="">
                <input type="submit" name="cancel-submit"
                    class="" value="Cancel" />
            </div>
        </div>
    </div>

    <div>
        <p>Date: 00/00/0000 </p>
    </div>

    <div>
        <p>Author ID: 000</p>
    </div>

    <footer th:insert="fragments :: footer"></footer>

</body>

</html>