<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH:LB Edit Blog</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" th:href="@{/}"><img th:src="@{/images/cfh_header_logo.png}" alt="CFH Logo"></a>
            </div>
            <ul class="nav navbar-nav nav-font">
                <li class="active nav-font" sec:authorize="isAnonymous()"><a href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-home glyph-font"></span> Home</a></li>

                <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
                <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/posts}">Posts</a></li>
                <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/posts/create-post}">Create Posts</a></li>
                <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/users}">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-font">
                <li><a href="users/register.html" sec:authorize="isAnonymous()" th:href="@{/register}"><span class="glyphicon glyphicon-user glyph-font"></span> Register</a></li>
                <li><a href="users/login.html" sec:authorize="isAnonymous()" th:href="@{/login}"><span class="glyphicon glyphicon-log-in glyph-font"></span> Login</a></li>

                <li sec:authorized="isAuthenticated()" class="span-display">Logged in as <span sec:authentication="name">Username</span></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out glyph-font"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <h1>Edit a Blog</h1>

    <div class = "">
        <label for="title">Title</label> :
        <input type="text" class = ""
        name="title" id="title" th:field = "">
    </div>
    
    <div class = "">
        <label for="content">Content</label> :
        <textarea type="text" cols="40" rows="10" 
        name="content" id="content" class = "" th:field = "">
        </textarea>
    </div>
    
    <div class="">
        <div class="">
            <div class="">
                <input type="submit" name="create-submit"
                    class="" value="Create" />
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="">
                <input type="submit" name="cancel-submit"
                    class="" value="Cancel" />
            </div>
        </div>
    </div>

    <div>
        <p>Date: 00/00/0000 </p>
    </div>

    <div>
        <p>Author ID: 000</p>
    </div>

    <footer>
        <p>(c) 2022 The Astonishing X-Men</p>
    </footer>

</body>
</html>