<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Need to add Elizabeth's CSS here when merged -->
</head>

<body>
        <nav class="navbar" th:fragment="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html" th:href="@{/}"><img th:src="@{/images/cfh_header_logo.png}" alt="CFH Logo"></a>
                </div>
                <ul class="nav navbar-nav nav-font">
                    <li class="active nav-font" sec:authorize="isAnonymous()"><a href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-home glyph-font"></span> Home</a></li>
    
                    <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
                    <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/posts}">Posts</a></li>
                    <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/create-post}">Create Posts</a></li>
                    <li class="active nav-font" sec:authorize="isAuthenticated()"><a th:href="@{/users}">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-font">
                    <li><a href="users/register.html" sec:authorize="isAnonymous()" th:href="@{/register}"><span class="glyphicon glyphicon-user glyph-font"></span> Register</a></li>
                    <li><a href="users/login.html" sec:authorize="isAnonymous()" th:href="@{/login}"><span class="glyphicon glyphicon-log-in glyph-font"></span> Login</a></li>
    
                    <!-- <div sec:authorized="isAuthenticated()" class="span-display">Logged in as <span sec:authentication="principal.username">Username</span></div>-->
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out glyph-font"></span> Logout</a></li>
                </ul>
            </div>
        </nav>

        <!-- footer needs to have a css class added when merged -->
        <footer th:fragment="footer">
            <p>&copy; 2022 The Astonishing X-Men</p>
        </footer>
</body>
</html>