<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH LiveBlog</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
    <nav th:insert="fragments :: nav"></nav>
    
    <h1 class="title-page">Carolina Fintech Hub Live Blog</h1>
    <div id="main-content">
        <div id="three-blogs-holder">
            <div id="recent-post-title">
                <h2>Recent Posts</h2>
            </div>
            <div class="blog-container" th:each="post : ${latest3posts}">
                <div class="blog-container-title">
                    <h2 th:text = "${post.title}"></h2>
                </div>
                <div class="blog-container-content">
                    <p th:text = "${post.content}"></p>
                </div>
                <div class="blog-container-footer">
                    <p>Posted by: <span th:text = "${post.authorFullName}"></span> on <span th:text = "${post.date}"></span></p>
                </div>
            </div>
        </div>
        <div id="sidebar-holder">
            <div class = "sidebar">
                <div id="sidebar-title">
                    <h3>Latest 5 Posts</h3>
                </div>
                <div id="sidebar-content">
                    <div th:each="post : ${latest5posts}" class="sidebar-link">
                        <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="fragments :: footer"></footer>

</body>

</html>