<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH:LB Login</title>
    <link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav th:insert="fragments :: nav"></nav>

    <h1>CFH Login</h1>
    <form th:action="@{/login}" method="post">
        <!-- error message -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username/email or
                password.</div>
        </div>

        <!-- logout message -->
        <div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>

        <div class = "form-group">
            <label for="username"> E-Mail </label> :
            <input type="text" 
            class = ""
            name="username" id="username"
            placeholder="Enter e-mail as username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>: 
            <input type="password"
                class=""
                name="password" id="password"
                placeholder="Enter password" />
        </div>
        
        <div class="form-group">
            <div class="">
                <div class="">
                    <input type="submit" class="" 
                        value="Log In" />
                </div>
            </div>
        </div>

        <div class="">
            <span>New user? <a href="/" th:href="@{/register}">Register here</a></span>
        </div>

    </form>

    <footer th:insert="fragments :: footer"></footer>

</body>
</html>