<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link href="styles/nav-styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <!--
        We will need this dependency in our pom.xml file:
    <dependency>
        <groupId>org.thymeleaf.extras</groupId>
        <artifactId>thymeleaf-extras-springsecurity5</artifactId>
    </dependency>
    -->

<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html" th:href="@{/}"><img src="images/cfh_header_logo.png"  alt="CFH Logo"></a>
      </div>
      <ul class="nav navbar-nav nav-font">
        <li class="active nav-font" sec:authorize="isAnonymous()"><a href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-home glyph-font"></span> Home</a></li>
        
        <li class="active nav-font" sec:authorize="isAuthenticated()"><a href="index.html" th:href="@{/}">Home</a></li>
        <li class="active nav-font" sec:authorize="isAuthenticated()"><a href="posts.html" th:href="@{/posts}">Posts</a></li>
        <li class="active nav-font" sec:authorize="isAuthenticated()"><a href="create-post.html" th:href="@{/posts/create}">Create Posts</a></li>
        <li class="active nav-font" sec:authorize="isAuthenticated()"><a href="users.html" th:href="@{/users}">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-font">
        <li><a href="users/register.html" sec:authorize="isAnonymous()" th:href="@{/users/register}"><span class="glyphicon glyphicon-user glyph-font"></span> Register</a></li>
        <li><a href="users/login.html" sec:authorize="isAnonymous()" th:href="@{/users/login}"><span class="glyphicon glyphicon-log-in glyph-font"></span> Login</a></li>

        <div sec:authorized="isAuthenticated()" class="span-display">Logged in as <span sec:authentication="name">Username</span></div>
        <li sec:authorize="isAuthenticated()"><a href="users/logout.html" th:href="@{/users/logout}"><span class="glyphicon glyphicon-log-out glyph-font"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>