<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
	<link rel="icon" th:href="@{/images/CFH_favicon.png}">
    <title>CFH:LB Register</title>
	<link th:href="@{/styles/nav-styles.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav th:insert="fragments :: nav"></nav>

    <h1>Register A New Account</h1>

        <!-- successful registration message -->
    <!-- <div th:if="">
        <div class="alert alert-info">You have successfully registered an account.</div>
    </div> -->

    <div class="">
		<div class="">
			<div class="">

				<div th:if="${errorMessage}" th:text="${errorMessage}" class="error_message">
					
				</div>

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<form th:action="@{/register}" method="post" th:object="${user}">
					<div class="">
						<label class="" for="firstName"> First Name </label>
						<input id="firstName" class="" th:field="*{firstName}"/>
					</div>

					<div class="">
						<label class="" for="lastName"> Last Name </label>
                        <input id="lastName" class="" th:field="*{lastName}"/>
					</div>

					<div class="">
						<label class="" for="email"> Email </label>
                        <input id="email" class="" th:field="*{email}"/>
					</div>

					<div class="">
						<label class="" for="password"> Password </label> 
                        <input id="password" class="" type="password" th:field="*{password}"/>
					</div>

					<div class="">
						<button type="submit" class="">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:insert="fragments :: footer"></footer>

</body>
</html>