.error_message {
    font-size: 16px;
    color: #D91A5F;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background: rgba(254, 191, 16, 0.6);
    margin-top: -40px !important;
}

.alert-danger, .alert-info {
    margin-top: -40px !important; 
}

.container-fluid {
    border-bottom: solid;
    border-bottom-color: #3A1027;
    width: 100%;


}

.nav-font li a {
    color: #3A1027 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px ;
    font-variant: small-caps;
    font-weight: bolder;
}

.glyph-font {
    color: #D91A5F !important;
    font-size: 20px ;
}

.log-in-display{
    display: flex;
    flex-direction: row;
}

.span-display{
    color: #3A1027;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 18px;
}
body {
    background-color: #fff;
}
footer{
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    /*background:#3A1027;*/
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    color: white;
    background: linear-gradient(270deg,#3a1027, #d91a5f);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* index.html */

.title-page {
    text-align: center;
    font-weight: bold;
}

.container {
    text-align: left;
    padding: 5px;
}

.posts{
    font-weight: bold;
}
.entry-heading{
    font-weight: bold;
}
.sidebar {
    float: right;
    width: 250px;
    background:#3A1027;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(270deg, #3a1027, #d91a5f);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/*create-post.html, delete-post.html, edit-post.html */

.blog-entry {
    text-align: center;
    margin-top: -20px;
}
.buttons {
    display: inline-block;
    background-color: #4CAF50


}

/*users.html*/
/*h1 {
    font-weight: bold;
} */

/* TABLES */

.user {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.user td {
    border: 1px solid white;

}
.user th {
    border: 1px solid white;
    padding: 8px;
    color: #f47a37;
    text-align: center;
}

.user tr:nth-child(even) {
    background-color: silver;
}

.user tr:nth-child(odd) {
    background-color: darkgray;
}

.user tr:hover {
    background-color: whitesmoke;
}

.user th {
    border: 1px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: #3a1027;
    color: #f47a37;
}

/* .btn btn-info {
    margin-right: 25px;
} */

.container-users {
    padding: 20px;
    margin-left: 80px;
    text-align: center;
} 

.container-blogs {
    padding: 10px;
    margin-left: 43px;
    text-align: center;
} 

.table-title {
    text-align: left;
}

/* POSTS */
.posts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.posts td {
    /* color: #D91A5F; */
    border: 1px solid white;

}
.posts th {
    border: 1px solid white;
    padding: 8px;
    color: #f47a37;
    text-align: center;
}

.posts tr:nth-child(even) {
    background-color: silver;
}

.posts tr:nth-child(odd) {
    background-color: darkgray;
}

.posts tr:hover {
    background-color: whitesmoke;
}

.posts th {
    border: 1px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: #3a1027;
    color: #f47a37;
}



/* login.html */
/*.login-register-container {
    background: white;
    color: black;
    display: block;
    text-align: center;
    border-style: outset;
    border-color: #3a1027;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    margin: 40px 20px 30px 415px;

}*/

.input-field{
    width: 100%;
    padding: 5px 10px;
    border: 0 solid;
}
.login-bar{
    border: none;
    color: black;
    padding:7px 5px;
    Margin:25px 0;
    border-radius:4px;
    width:100%;
    cursor:pointer;
}

/*.login-register-button {
    background-color:linear-gradient(270deg, #3a1027, #d91a5f);
    width: 70%;
    border-style: none;
    color: white;
}*/

/*CRUD CSS*/

main {
    margin: 50px 50px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-weight: bold;
}

.crud-center {
    margin: 0px auto;
    text-align: center;

}

.form-wrapper {
    width: 500px;
    height: 300px;
    margin: 0px auto;
    border-style: outset;
    border-color: #3a1027;
    border-radius: 30px;
}

.form-wrapper2 {
    width: 500px;
    height: 425px;
    margin: 0px auto;
    border-style: outset;
    border-color: #3a1027;
    border-radius: 30px;
}

.space {margin-bottom: 100px;}

form{
    padding-top: 75px;
    margin-top: 50px;
}

.form-group input{
    width: 350px;
}

.form-group > input {
    padding: 2px 2px 2px 30px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 35px;
    padding-left: 60px;
}


.form-group i {
    position: absolute !important;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 15px;
    padding-left: 5px;
}

.submit-button{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

.submit-button:hover { 
    color: #FEBF10;
}

input[type=button],
input[type=submit] {
    background:linear-gradient(270deg, #3a1027, #d91a5f);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 35px;
    width: 350px;
}

input::placeholder{
    color: #D91A5F;
}

textarea::placeholder {
    color: #D91A5F;
}

 a {
    text-decoration: none !important;
}

 a:hover {
    text-decoration: none !important;
    color: rgb(244, 122, 55) !important;
}

.login-register-here {
    margin-top: 15px;
}

.required-content {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #3a1027;
    margin-bottom: 20px;
}

.title-input {
    width: 500px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.content-input {
    width: 500px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-left:10px;
}

div > .post {
    width: 200px;
    border: 2px solid #3A1027;
    background: linear-gradient(270deg, #3a1027, #d91a5f);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div > .post:hover {
    color:rgb(244, 122, 55);
}

div > .cancel {
    width: 200px;
    border: 2px solid #3A1027;
    background: linear-gradient(270deg, #3a1027, #d91a5f);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

